

/* Custom Styles */

/* Brand styles */

.brand {
    background: #1e4e75c0 !important;
}

.brand-text {
    color: #498a8fe5 !important;
}

/* Form styles */

form{
    max-width: 680px;
    margin: 10px auto;
    padding: 30px;
}

/* Button styles */

.submit-btn{
    margin-top: 15px;
}

input.btn:hover {
    background-color: rgb(134, 183, 196) !important;
}

/* Link styles */

nav ul li a:hover{
    background-color: rgb(134, 183, 196) !important;
 }

/* Footer styles */

 .footer-style {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #498a8fe5;
    color: white;
    text-align: center;
  }

/* Card styles */

   .card-content {
    min-height: 220px;
  }

  .container{
      padding-bottom: 100px;
  }

/* Heading styles */

  .pizza-details{
   color: #498a8fe5;
  }

  .head-pad{
    padding: 50px 0;
  }

  .title-style{
    color: rgb(134, 183, 196);
  }
/* Button styles*/

  .btn {
    text-decoration: none;
    color: #fff;
    background-color: #498a8fe5 !important;
  }

  .btn:hover {
background-color: rgb(134, 183, 196) !important;
  }

  